:root {
  --color-bg: #191919;
  --color-text: #f5f5f5b0;

  /*Typography */
  --mono: ui-monospace, Menlo, Monaco, Consolas, monospace;
  --sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Noto,
    Helvetica Neue, sans-serif;
  --serif: ui-serif, Georgia Pro, Georgia, serif;

  /* Font Size */
  --size: calc(1rem + 0.2vw);
  --caption: 0.8rem;
  --text: 1rem;
  --subhead: 1.3rem;
  --display: 1.5rem;

  /* Font Weights */
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --black: 900;

  /* Spacing */
  --tiny: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 4rem;
  --extralarge: 8rem;

  /* Line Height */
  --tight: 1.15;
  --compact: 1.35;
  --comfort: 1.45;

  /* Width */
  --narrow: 65ch;
  --read: 65ch;
  --wide: 90ch;
}

*, ::before, *::after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust:100%
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: var(--extralarge) var(--large);
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: var(--comfort);
  font-family: var(--sans);
  font-size: var(--size);
  font-weight: var(--regular);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media all {
  html {
    font-size: 18px;
  }
}

@media all and (max-width: 1200px) {
  html {
    font-size: 16px;
  }

  body {
    padding: var(--large) var(--medium);
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  body {
    padding: var(--medium) var(--small);
  }
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: var(--tight);
  font-family: var(--serif)
}